In [3]:
#defining the function
def hi():
    print("Hi How are you?")

In [4]:
# calling the function
hi()

Hi How are you?

In [5]:
for i in range(3):
    hi()

Hi How are you?
Hi How are you?
Hi How are you?

In [6]:
def grn():
    from random import randint
    return randint(1, 100)

In [7]:
grn()

69

In [8]:
ans = grn()
print(ans)

17

In [9]:
ans = grn() + grn() - grn()
print(ans)

82

In [10]:
"hello".upper().replace('H', 'g')

'gELLO'

In [11]:
grn().bit_length()

4

3.functions with arguments/parameters

In [12]:
def si(p,r,t):
    print("simple Interest =>",(p*r*t)/100)

4.function with arguents and return value

In [13]:
def area_of_circle(cirumference):
    ''' 
    This function calculates the area of the circle from the circumference
    '''
    r = cirumference/(2*3.14)
    return 3.14*r**2

In [14]:
area_of_circle(10) + area_of_circle(20)

39.808917197452224

function parameters style
1. positional arguments
2. required  arguments
3. default  arguments
4.variable length arguments *args
5. keyword  arguments **kwargs

In [15]:
def add(a,b,c,d):
    return a + b + c + d

In [16]:
add(1,2,3,4)

10

In [17]:
print(add(a=2, b=3, c=4, d=5))
print(add(b=3, a=2, d=4, c=1))
print(add(c=2, a=2, d=4, b=1))

14
10
9

In [18]:
def add(a, b, c, d=0):
    return a + b + c + d

In [19]:
print(add(1,2,3,4))
print(add(1,2,3))

10
6

In [20]:
def si2(p = 1000, r=1.1, t=10):
    return(p*r*t)/100

In [21]:
print(si2())
print(si2(p=12000))
print(si2(p=12000, r=3)) 
print(si2(p=12000, r=3, t=5))
print(si2(r=3, t=5))
print(si2(t=5))
print(si2(p=15000, t=5))
print(si2(12000, 5, 5))

110.0
1320.0000000000002
3600.0
1800.0
150.0
55.0
825.0
3000.0

In [22]:
def multiply(*num):
    ans = 1
    for i in num:
        ans *= i
    return ans

In [23]:
multiply(2,3,5,10)

300

In [24]:
print(1,2,3,4,5)

1 2 3 4 5

keyword argument **kwargs

In [25]:
def handl_data(**data):
    for k,v in data.items():
        if isinstance(v, (int,float)):
            print(f"{k} => {v}")
        else:
            print('invalid entry')

In [26]:
handl_data(nam='Raj', age=23, salary=10000, address='Delhi')

invalid entry
age => 23
salary => 10000
invalid entry

LAMBDA EXPRESSIONS
f(x) = x^2 + 2x +1
f(120)

In [28]:
def eq1(x):
    return x^2 + 2*x +1

In [29]:
eq1(3)

10

var = lambda argument: expression

In [30]:
f = lambda i: i**2 + 2*i + 1

In [31]:
print(f(4))
print(f(14))
print(f(13))

25
225
196

In [36]:
g = lambda x,y: x**2 + 2*x + y

In [37]:
print(g(4,5))
print(g(14,15))

29
239

In [42]:
data = [34,2,4,5,6,7,9,8,45]
list(map(lambda x: x**2, data))

[1156, 4, 16, 25, 36, 49, 81, 64, 2025]

In [43]:
names = ['Raj','Jenny','Rohan']
list(map(lambda n: n.upper(), names))

['RAJ', 'JENNY', 'ROHAN']

In [45]:
x = [1,2,3,5,6]
y = [2,3,4,6,7,]

z = list(map(lambda i,j: i * j, x,y))
z

[2, 6, 12, 30, 42]

In [47]:
x = [22,34,55,56,77,0,3,4,5,1]
even_x = list(filter(lambda i: i % 2 == 0, x))
print(even_x)

[22, 34, 56, 0, 4]

In [53]:
x =[4,5,2,3,5,6,7,9,8,0,2,3,5,4,2,5,6]
grx = list(filter(lambda i: i>3, x))
print(grx)

[4, 5, 5, 6, 7, 9, 8, 5, 4, 5, 6]

In [57]:
# single input with multiple values used in competitive exams
data = list(map(int, input().split()))

In [59]:
input().split()

['2', '3', '4', '5', '6']

In [60]:
names1 = ['A', 'B','C']

if 'A' in names1:
    print(1)
else:
    print(2)

1

In [61]:
a = (1,2,3)
b = ('A', 'B','C')
c = tuple(zip(a,b))

In [62]:
total= {}
def insert(items):
    if items in total:
        total[items] +=1
    else:
        total[items] = 1
insert('Apple')    
insert('Ball')    
insert('Apple')    
print(len(total))

2

In [66]:
i = [3,4,5,20,5,25,1,3]
i.pop(1)

4

In [67]:
a = (2,3,1,5)
a.sort()
a

AttributeError: 'tuple' object has no attribute 'sort'

In [69]:
a = (1,2,(4,5))
b = (1,2,(3,4))
a<b

False

In [1]:
d = {"john":40, "peter":45}
print(list(d.keys()))

IndentationError: unexpected indent (1001604403.py, line 2)

In [71]:
a = {5,6,7,8}
b = {7,8,9,10}
len(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [72]:
"Welcome to python".split()

['Welcome', 'to', 'python']

In [73]:
print('{0:.2}'.format(1/3))

0.33

In [77]:
print("Hello {0} and {1}".format('foo', 'bin'))

Hello foo and bin

In [78]:
a = {1:"A", 2:"B",3:"C"}
for i,j in a.items():
    print(i,j,end="")

1 A2 B3 C

In [79]:
s='digipoodium'
slice=s[4:len(s)]
print(slice)

poodium

In [80]:
a=[13,56,17]
a.append([87])
a.extend([45,67])
print(a)

[13, 56, 17, [87], 45, 67]